body {
	width: 100%;
	height: auto;
}

div.header_menu {
	width: 49%;
	display: inline-block;
	text-align: center;
	background-color: brown;
	border:	solid black 1px;
}

.header_menu > a {
	text-decoration: none;
	color: white;
}
