<html>
	<body>
		<form action="http://127.0.0.1:8081/process_get" method="GET">
		First Name: <input type="text" name="first_name"></br>
		Last Name: <input type="text" name="last_name"></br>
		Birth Date: <input type="text" name="birth_date"></br>
		Job: <input type="text" name="job"></br>
		Salary: <input type="text" name="salary"></br>
		In Date: <input type="text" name="in_date"></br>
		Out Date: <input type="text" name="out_date"></br>
		Photos: <input type="file" name="photos"></br>
		In Number: <input type="text" name="in_number"></br>
		Mail: <input type="text" name="mail"></br>
		<input type="submit" value="Submit">
		</form>
	</body>
</html>