<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/liste_employes.css">
</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Birth Date</th>
					<th>Job</th>
					<th>Salary</th>
					<th>In Date</th>
					<th>Out Date</th>
					<th>Photos</th>
					<th>In Number</th>
					<th>Mail</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Kilian</td>
					<td>BELLOT</td>
					<td>03/09/1994</td>
					<td>Feignant de type pro</td>
					<td>5847,55</td>
					<td>03/09/1995</td>
					<td>03/09/2025 Date</td>
					<td>Photos</td>
					<td>10014761</td>
					<td>kilian.bellot@hotmail.fr</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>