<html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/nouvel_employe.css">
</head>
	<body>
		<form method="POST">
		<div class="align_input">First Name: <input type="text" name="first_name"></div>
		<div class="align_input">Last Name: <input type="text" name="last_name"></div>
		<div class="align_input">Birth Date: <input type="text" name="birth_date"></div>
		<div class="align_input">Job: <input type="text" name="job"></div>
		<div class="align_input">Salary: <input type="text" name="salary"></div>
		<div class="align_input">In Date: <input type="text" name="in_date"></div>
		<div class="align_input">Out Date: <input type="text" name="out_date"></div>
		<div class="align_input">Photos: <input type="file" name="photos" multiple="multiple"></div>
		<div class="align_input">In Number: <input type="text" name="in_number"></div>
		<div class="align_input">Mail: <input type="text" name="mail"></div>
		<input type="submit" value="Submit">
		</form>
	</body>
</html>