doctype html
html(lang="en")
	head
		title=EXPRESS
		include style
	body
		include header
		form(method="POST")
			div
				label FirstName:
				input(type="text", name="first_name")
			div
				label LastName:
				input(type="text", name="last_name")
			div
				label BirthDate:
				input(type="text", name="birth_date")
			div
				label Job:
				input(type="text", name="job")
			div
				label Salary:
				input(type="text", name="salary")
			div
				label InDate:
				input(type="text", name="in_date")
			div
				label OutDate:
				input(type="text", name="out_date")
			div
				label Photos:
				input(type="file", name="photos", multiple="multiple")
			div
				label InNumber:
				input(type="text", name="in_number")
			div
				label Mail:
				input(type="text", name="mail")
			div
				input(type="submit", value="Submit")