doctype html
html(lang="en")
	head
		title= EXPRESS
		style
			include ../css/nouvel_employe.css
	head
	body
		form(method="POST")
			div.align_input
				First Name: input(type="text", name="first_name")
			div.align_input
				Last Name: input(type="text", name="last_name")
			div.align_input
				Birth Date: input(type="text", name="birth_date")
			div.align_input
				Job: input(type="text", name="job")
			div.align_input
				Salary: input(type="text", name="salary")
			div.align_input
				In Date: input(type="text", name="in_date")
			div.align_input
				Out Date: input(type="text", name="out_date")
			div.align_input
				Photos: input(type="file", name="photos", multiple="multiple")
			div.align_input
				In Number: input(type="text", name="in_number")
			div.align_input
				Mail: input(type="text", name="mail")
			input(type="submit", value="Submit")