doctype html
html(lang="en")
	head
		title=EXPRESS
		style
			include ../css/nouvel_employe.css
	head
	body
		form(method="POST")
			div.align_input
				label FirstName: 
				input(type="text", name="first_name")
			div.align_input
				label LastName: 
				input(type="text", name="last_name")
			div.align_input
				label BirthDate: 
				input(type="text", name="birth_date")
			div.align_input
				label Job: 
				input(type="text", name="job")
			div.align_input
				label Salary: 
				input(type="text", name="salary")
			div.align_input
				label InDate: 
				input(type="text", name="in_date")
			div.align_input
				label OutDate: 
				input(type="text", name="out_date")
			div.align_input
				label Photos: 
				input(type="file", name="photos", multiple="multiple")
			div.align_input
				label InNumber: 
				input(type="text", name="in_number")
			div.align_input
				label Mail: 
				input(type="text", name="mail")
			input(type="submit", value="Submit")